<div id="aboutpage" class="aboutpage ">
  <div class="container">

    <div class="d-flex flex-column align-items-center align-space-between header-about">
      <div class="title ">
        Set up your rules
      </div>
      <div class="sub">
        <p>
          Set your rules to complete your goal.
        </p>
      </div>
    </div>

    <div class="slider-rules-wrp">

      <div class="image-fade-right">
        <div class="image-fade-left">


          <div id="slider-rules" class="owl-carousel owl-theme slider-rules">

            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/roundup-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Round Up
                </div>
                <div class="rule-desc">
                  Round up each time you use your card.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-mug-hot"></i>
                    <span>
                      Caffe Latte
                    </span>
                  </span>
                  <span class="price">2.85£</span>
                  <span class="retain">0.15£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>

            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/retention-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Retention
                </div>
                <div class="rule-desc">
                  Save part of your paycheck automatically.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-mug-hot"></i>
                    <span>Salary</span>
                  </span>
                  <span class="price">1.500£</span>
                  <span class="retain">150£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>


            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/setandforget-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Set and Forget
                </div>
                <div class="rule-desc">
                  Save on auto-pilot with recurring deposits.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-mug-hot"></i>
                    <span>Dayly</span>
                  </span>
                  <span class="retain">10£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>




  </div>
  <div class="mb-5"></div>
</div>
