<div id="aboutpage" class="aboutpage ">
  <div class="container">

    <div class="section-fees mt-1 mt-sm-5 mt-md-10">
      <div class="container">
        <div class="row ">
          <div class="col-12">

            <div class="content-box section-scroll-animate" data-animation="animate__slideInUp">
              <div class="title text-center">
                Investing in gold
              </div>
              <div class="desc text-center">
                <p>
                  Our fees are simple
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="row d-flex justify-content-center align-items-stretch">

          <div class="col-12 col-md-6 p-1 p-md-3">
            <div class="box d-flex align-items-center justify-content-center">
              There’s no minimum investment.
            </div>
          </div>

          <div class="col-12 col-md-6 p-1 p-md-3">
            <div class="box d-flex align-items-center justify-content-center">
              We have one simple trading commission (for buys and sells): 1%.
            </div>
          </div>

          <div class="col-12 col-md-6 p-1 p-md-3">
            <div class="box d-flex align-items-center justify-content-center">
              World-class vaulting and insurance come at a small cost: 0.02% per month (with a £3.75 minimum).
            </div>
          </div>

          <div class="col-12 col-md-6 p-1 p-md-3">
            <div class="box d-flex align-items-center justify-content-center">
              We charge a small processing fee of £5 for every withdrawal, which is applied as a fixed fee and not a
              percentage of your total redeemed funds.
            </div>
          </div>

          <div class="col-12 col-md-12">
            <div class="box-withdrawal p-1 p-md-3 mt-1 mt-md-5 d-flex align-items-center justify-content-center">

              <div class="box-image">
                <img src="./assets/imgs/withdrawal.svg" />
              </div>

              <span class="box-title">
                Withdrawal your savings in gold (soon)
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="d-flex flex-column align-items-center align-space-between header-about">
      <div class="title ">
        Set up your rules
      </div>
      <div class="sub">
        <p>
          Set your rules to complete your goal.
        </p>
      </div>
    </div>

    <div class="slider-rules-wrp">
      <div class="image-fade-right">
        <div class="image-fade-left">

          <div id="slider-rules" class="owl-carousel owl-theme slider-rules">

            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/retention-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Retention
                </div>
                <div class="rule-desc">
                  Save part of your paycheck automatically.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-money-check-alt"></i>
                    <span>Salary</span>
                  </span>
                  <span class="price">1.500£</span>
                  <span class="retain">150£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>


            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/setandforget-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Set and Forget
                </div>
                <div class="rule-desc">
                  Save on auto-pilot with recurring deposits.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-calendar-day"></i>
                    <span>Dayly</span>
                  </span>
                  <span class="retain">10£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>


            <div class="rule-box2 shadow-lg">
              <div class="featured-image">
                <img src="./assets/imgs/roundup-o-min.png">
              </div>
              <div class="rules-content">
                <div class="rule-type">
                  Round Up
                </div>
                <div class="rule-desc">
                  Round up each time you use your card.
                </div>
              </div>
              <div class="example">
                <div class="showcase d-flex justify-content align-items-center justify-content align-items-center">
                  <span class="showcase-item-name align-items-center  flex-fill">
                    <i class="fas fa-mug-hot"></i>
                    <span>
                      Caffe Latte
                    </span>
                  </span>
                  <span class="price">2.85£</span>
                  <span class="retain">0.15£</span>
                </div>
                <div class="info">
                  <i class="fas fa-info"></i>
                  some info here
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="section-trust mt-1 mt-sm-5 mt-md-10 p-5 p-md-7 p-lg-10">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <div class="content-box section-scroll-animate" data-animation="animate__slideInUp">
            <div class="title text-center">
              <img class="img-fluid" src="./assets/imgs/4_done-min.png" style="max-width:100px;max-height:100px;">
              <span>Trust</span>
            </div>
            <div class="desc text-center">
              <p>
                <strong>Alchemist is the first mobile first application for achieve your goals by saving with physical
                  gold. </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row d-flex justify-content-center align-items-center text-center mt-1 mt-md-5 mt-md-8 section-scroll-animate"
        data-animation="animate__slideInUp">
        <div class="col-10 ">
          Set your Goals and funding Rules and let our automatic investment methods
          buy you grams of Gold in small increments with zero impact in your
          lifestyle.

          Invest every day with your purchases, income or whenever you
          decide, and before you know it, you'll have reached your goals.
        </div>
      </div>
    </div>
  </div>


</div>




<div class="my-2 py-5"></div>
