<div id="aboutpage" class="aboutpage ">
  <div class="container">

    <div class="d-flex flex-column align-items-center align-space-between header-about">
      <div class="title ">
        Set up your rules
      </div>
      <div class="sub">
        <p>
          Set your rules to complete your goal.
        </p>
      </div>
    </div>

    <div class="owl-theme slider-rules">
      <div class="rule-box2">
        <div class="featured-image">
          <img src="./assets/imgs/roundup-min.png">
        </div>
        <div class="rules-content">
          <div class="rule-type">
            Round Up
          </div>
          <div class="rule-desc">
            Round up each time you use your card.
          </div>
        </div>
        <div class="example">
          <span class="info"> <i class="fas fa-info"></i> some here</span>
        </div>
      </div>


      <div class="rule-box2">
        <div class="featured-image">
          <img src="./assets/imgs/retention-min.png">
        </div>
        <div class="rules-content">
          <div class="rule-type">
            Retention
          </div>
          <div class="rule-desc">
            Save part of your paycheck automatically.
          </div>
        </div>
        <div class="example">
          <span class="info"> <i class="fas fa-info"></i> some here</span>
        </div>
      </div>


      <div class="rule-box2">
        <div class="featured-image">
          <img src="./assets/imgs/setandforget-min.png">
        </div>
        <div class="rules-content">
          <div class="rule-type">
            Set and Forget
          </div>
          <div class="rule-desc">
            Save on auto-pilot with recurring deposits.
          </div>
        </div>
        <div class="example">
          <span class="info"> <i class="fas fa-info"></i> some here</span>
        </div>
      </div>

    </div>
  </div>
  <div class="mb-5"></div>
</div>
