<div id="blog-page" class="container default-wrp-page blog-page">
  <section class="mt-10">
  </section>

  <section class="mb-2">
    <div id="retainable-rss-embed"
    data-rss="https://medium.com/feed/yarilabs"
    data-maxcols="3"
    data-layout="grid"
    data-poststyle="inline"
    data-readmore="Read the rest"
    data-buttonclass="btn btn-primary"
    data-offset="-100"></div>

    <script src="https://www.retainable.app/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
  </section>
</div>
