<div class="download-app-store">
   <a class="img-btn" href="{{site.data.downloads.downloads_app_store.url}}" target="_blank">
     <img class="img-fluid m-3 m-sm-1" alt="{{site.data.downloads.downloads_app_store.alt}}"
       src="{{site.data.downloads.downloads_app_store.img}}">
   </a>
   <a class="img-btn" href="{{site.data.downloads.downloads_google_play.url}}" target="_blank">
     <img class="img-fluid m-3 m-sm-1" alt="{{site.data.downloads.downloads_google_play.alt}}"
       src="{{site.data.downloads.downloads_google_play.img}}">
   </a>
</div>
