<div id="faq-page" class="container default-wrp-page faq-page">
  <section class="header-faq d-flex align-content-center flex-wrap">
    <div class="search-wrp">
      <label class="search" for="search">
        <input id="search" type="text" autocomplete="off" />
      </label>
    </div>
  </section>

  <section class="mb-2">
    <div id="faq"
      class="p-1 p-sm-4 d-flex flex-wrap flex-column flex-sm-row align-items-stretch justify-content-around">

      <ul class="group">
        <div class="group-title">
          <h1>Welcome to Alchemist Gold</h1>
        </div>

        <div class="group-topics">
          <li>
            <strong>Why Alchemist?</strong>
            <em>
              Alchemist will help you to save in Gold and get the budget for going on
              holidays, making that travel trip, buying that unique gadget or simply
              investing for a rainy day.
            </em>
          </li>

          <li>
            <strong>Goals you can actually achieve?</strong>
            <em>
              Investing with a purpose is powerful.

              Set your Goals and funding Rules and let our automatic investment methods
              buy you grams of Gold in small increments with zero impact in your
              lifestyle. Invest every day with your purchases, income or whenever you
              decide, and before you know it, you'll have reached your goals.
            </em>
          </li>
        </div>
      </ul>

      <ul class="group">
        <div class="group-title">
          <h1>Your personal data</h1>
        </div>

        <div class="group-topics">
          <li>
            <strong>Bullet Proof Security</strong>
            <em>
              We’ve done the extra mile to make all your data, your money and your gold
              protected at all times.

              **Your data is secured by 256-bit encryption.** That's the same level of
              security as the military.
            </em>
          </li>


        </div>
      </ul>








      <ul class="group">
        <div class="group-title">
          <h1>Deposits & withdrawals</h1>
        </div>

        <div class="group-topics">
          <li>
            <strong>Deposit money?</strong>
            <em>
              Alchemist will buy gold directly using your rules with your associated open banking account.
            </em>
          </li>
          <li>
            <strong>Withdrawal goal funds?</strong>
            <em>
              Lorem ipsum dolor sit...
            </em>
          </li>
          <li>
            <strong>Physical Gold Redemption (soon) </strong>
            <em>
              Invest in physical gold and get it delivered to your door!
            </em>
          </li>
        </div>
      </ul>

    </div>
  </section>
</div>
