<!-- Footer -->
<footer class="footer-custom mt-1 mt-sm-2 mt-md-3">
  <!-- Footer Links -->
  <div class="container">

    <div class="row no-gutters justify-content-center ">
      <div class="col-12">
        <div class="sitemap row no-gutters">


          <div class="col-6 col-md-3 img-wrp">
            <img src="./assets/imgs/alchemist_logo_simple.png" alt="yarilabs logo">
          </div>

          <div class="col-6 col-md-3">
            <a class="nav-link" target="_blank" rel="noopener noreferrer"
              href="https://www.instagram.com/alchemist_app">
              <i class="fab fa-instagram"></i>
              <span>Instagram</span>
            </a>
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/alchemistapp">
              <i class="fab fa-facebook-f"></i>
              <span>Facebook</span>
            </a>
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/alchemist_app">
              <i class="fab fa-twitter"></i>
              <span>Twitter</span>
            </a>
            <a class="nav-link" target="_blank" rel="noopener noreferrer"
              href="https://www.youtube.com/channel/UC4cltOMmvBCX-Mn6AsuBH8g">
              <i class="fab fa-youtube"></i>
              <span>Youtube</span>
            </a>
          </div>


          <div class="col-6 col-md-3">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Security</a>
          </div>

          <div class="col-6 col-md-3">
            <a class="nav-link" href="#">Blog</a>
            <a class="nav-link" href="#">Help</a>
            <a class="nav-link" href="#">Terms and Privacy</a>
          </div>
        </div>




      </div>
    </div>


    <!-- Footer Links -->
    <div class="line-separator"></div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span class="mx-1">© 2020 All rights reserved</span>
    <span class="d-none d-sm-inline-block">|</span>
    <a class="mx-1" href="https://www.yarilabs.com/">
      <img src="./assets/imgs/yarilabs-footer.png" alt="yarilabs logo">
    </a>
  </div>
  <!-- Copyright -->

  <!-- alchemist js-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script src="../assets/js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

  <script type="text/javascript" src="../assets/js/index.js"></script>
</footer>
<!-- Footer -->
