<header class="layout-header">
    <nav class="navbar navbar-expand-md fixed-top navbar-light mx-3 mx-sm-4 mx-md-7 mx-lg-10 mx-xs-12" aria-label="navbar brand">
        <a class="navbar-brand text-dark align-content-center" href="{{site.data.header.link_title}}">
          <img class="img-brand" src="./assets/imgs/H_gold.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-burger"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline mt-2 mt-md-0">
            <ul class="navbar-nav nav-flex-icons">
              <a class="nav-link" href="#">About</a>
              <a class="nav-link" href="#">Security</a>
              <a class="nav-link" href="#">Blog</a>
              <a class="nav-link" href="#">Help</a>

              <li class="nav-item pl-3 my-auto">
                <a class="btn btn-primary text-white" href="#">Download</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="modal fade headless-modal" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div> -->
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
</header>
