<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-light navbar-shadow" aria-label="navbar brand">
    <div class="container-fluid">
      <a class="navbar-brand text-dark d-flex align-content-center " href="{{site.data.header.link_title}}">
        <img src="{{ site.data.header.img }}" width="30" height="30">
        <div class="m-auto pl-2">
          <strong>{{site.data.header.title}}</strong>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-burger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <!-- left menu -->
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item active">
              <a class="nav-link text-dark" href="{{site.data.header.left.btn1.link}}">
                {{site.data.header.left.btn1.text}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{site.data.header.left.btn2.link}}">
                {{site.data.header.left.btn2.text}}</a>
            </li>
            <li class="nav-item pl-3">
              <a class="btn btn-outline-dark" href="#homepage">Download now!</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
  <div class="modal fade headless-modal" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
</header>
