<div id="homepage" class="homepage">
  <section class="header pt-10">
    <div class="row mx-sm-3 mx-lg-8 no-gutters-xs">
      <div class="col-12 col-sm-6">
        <div class="header-block mx-5 mx-sm-1">
          <div class="title">
            Aim for <span>gold</span>
          </div>
          <div class="desc">
            Be a modern Alchemist and achieve your goals
            with simple automated investments in gold.
            You set the rules and we make the magic.
          </div>

          <div class="downloads pt-5 pb-4 pt-sm-7">
            <div class="d-flex justify-content-around">
              <a href="#" class="px-sm-2">
                <img class="img-fluid" src="./assets/imgs/playstore.png" alt="app store download">
              </a>

              <a href="#" class="px-sm-2">
                <img class="img-fluid" src="./assets/imgs/playstore.png" alt="play store download">
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="phone">
          <img class="img-fluid" src="./assets/imgs/phone-1.png" alt="phone">
        </div>
      </div>
    </div>
  </section>


  <section class="left-img-section pt-4 pt-sm-1">
    <div class="row no-gutters">
      <div class="col-12 col-sm-6">
        <div class="image-wrp">
          <img class="img-fluid" alt="image of parachute goal" src="./assets/imgs/g3092.png">
        </div>
      </div>
      <div class="col-12 col-sm-6">

        <div class="p-2 mt-sm-8 p-sm-5">
          <div class="text-wrp">
            <div class="title">
              Why Alchemist?
            </div>
            <div class="desc p-4 p-sm-1 pr-sm-5">
              Alchemist will help you to save in Gold and
              get the budget for going on holidays, making
              that travel trip, buying that unique gadget or
              simply investing for a rainy day.
            </div>

            <div class="btn-wrp  pt-3">
              <button type="button" class="btn btn-primary shadow">
                <img class="img-fluid" alt="play presentation" src="./assets/imgs/play_gold.png">
                <span>Watch video presentation</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="slider-wrp">
      <div class="owl-carousel owl-theme">

        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 1
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:50;"></div>
              </div>
            </div>
          </div>
        </figure>
 

        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 2
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / £ <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:10;"></div>
              </div>
            </div>
          </div>
        </figure>

        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 3
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / £ <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:10;"></div>
              </div>
            </div>
          </div>
        </figure>


        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 4
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / £ <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:10;"></div>
              </div>
            </div>
          </div>
        </figure>

        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 5
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / £ <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:10;"></div>
              </div>
            </div>
          </div>
        </figure>



        <figure class="item goal-wrp">
          <img src="./assets/imgs/goal-ex-1.png">
          <div class="content">
            <div class="title top-left">
              Goal desc 6
            </div>
            <div class="saved-wrp">
              <div class="content">
                Saved £ <span class="variable">100</span> / £ <span class="total">1000</span>
              </div>
              <div class="progress-bar-wrp">
                <div class="progress-bar " style="--progress:10;"></div>
              </div>
            </div>
          </div>
        </figure>
    </div>
  </section>

</div>
