<div id="homepage" class="homepage">
  <section class="header pt-10">
    <div class="row mx-sm-3 mx-lg-8">
      <div class="col-12 col-sm-6">
        <div class="header-block">
          <div class="title">
            Aim for <span>gold</span>
          </div>
          <div class="desc">
            Be a modern Alchemist and achieve your goals
            with simple automated investments in gold.
            You set the rules and we make the magic.
          </div>

          <div class="downloads pt-3 pt-sm-5">
            <div class="d-flex justify-content-around">
              <a href="#" class="px-sm-2">
                <img class="img-fluid" src="./assets/imgs/playstore.png">
              </a>

              <a href="#" class="px-sm-2">
                <img class="img-fluid" src="./assets/imgs/playstore.png">
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="phone">
          <img class="img-fluid" src="./assets/imgs/phone-1.png" width="80%">
        </div>
      </div>
    </div>
  </section>
  <div class="mb-12 pb-5"></div>

</div>
