<div id="homepage" class="homepage">
  <!-- CONTENT 1 -->
  <section class="content-promotional pt-7 d-flex justify-content-center text-center">
    <div class="row no-gutters ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center text-center">
        <div class="m-auto pl-sm-4 pl-lg-8">
          <h1 class="title">
            {{site.data.homepage.section_1.title_part1}}
            <span> {{site.data.homepage.section_1.gold_title}}</span>
            {{site.data.homepage.section_1.title_part2}}
          </h1>
          <br>
          <p class="pb-5 mx-3 desc">{{site.data.homepage.section_1.desc}}</p>
          <div class="col-xs-12 col-sm-7"></div>
          {% include downloads.html %}
        </div>
      </div>

      <div class="col-md-5 d-flex justify-content-center text-center d-none-mobile">
        <div class="phone-img my-auto pr-sm-4 pr-lg-8">
          <img class="img-fluid" alt="promotion img" src="{{site.data.homepage.section_1.img}}">
        </div>
      </div>
    </div>
  </section>

  <!-- CONTENT 2  -->
  {% assign section_2 = site.data.homepage.section_2 %}
  <section class="row no-gutters row-with-bg-1 ">
    <div class="col-sm-12 col-xs-12">
      <h2>{{ section_2.title }}</h2>
    </div>

    <div class="col-sm-6 col-xs-6 text-center">
      <div class="featured-phone">
        <img alt="img" class="img-fluid" src="{{ section_2.img }}">
      </div>
    </div>

    <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
      <div class="my-auto desc">
        {{ section_2.desc | markdownify }}
      </div>
    </div>
  </section>

  <!-- CONTENT 7  -->
  {% assign section_7 = site.data.homepage.section_7 %}
  <section class="row no-gutters row-with-bg-1 data-bg-color" data-bg-color="{{ section_7.bg_data_color }}">
    <div class="col-sm-5 col-xs-5 d-flex justify-content-center text-center">
      <div class="my-auto pl-3 text-center">
        <h2 class="text-white">{{ section_7.title }}</h2>
        <br>
        <div class="h3 text-white">
          {{ section_7.desc | markdownify }}
        </div>
      </div>
    </div>

    <div class="col-sm-7 col-xs-7 text-center">
      <div class="featured-phone">
        <img alt="img" class="img-fluid" src="{{ section_7.img }}">
      </div>
    </div>
  </section>

  <!-- CONTENT 8  -->
  {% assign section_8 = site.data.homepage.section_8 %}
  <section class="row no-gutters row-with-bg-1 data-bg-color" data-bg-color="{{ section_8.bg_data_color }}">
    <div class="col-sm-7 col-xs-7 d-flex justify-content-center text-center">
      <div class="my-auto p-2 p-sm-3 p-md-4 text-center">
        <h2 class="text-dark text-center">{{ section_8.title }}</h2>
        <br>
        <div class="desc text-dark text-justify">
          {{ section_8.desc | markdownify }}
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-xs-5 text-center">
      <div class="featured-phone">
        <img alt="img" class="img-fluid" src="{{ section_8.img }}">
      </div>
    </div>
  </section>

 

  <!-- CONTENT 3  -->
  {% assign section_3 = site.data.homepage.section_3 %}
  <section class="row no-gutters row-with-bg-1 " data-bg="{{ section_3.bg_data }}">

    <div class="col-sm-6 col-xs-6 text-center">
      <div class="featured-phone">
        <img alt="img" class="img-fluid" src="{{ section_3.img }}">
      </div>
    </div>

    <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
      <div class="row no-gutters">

        <div class="col-sm-12 col-xs-12">
          <h2>{{ section_3.title }}</h2>
        </div>
        <div class="col-sm-12 col-xs-12">

          <div class="my-auto desc">
            {{ section_3.desc | markdownify }}
          </div>
        </div>
      </div>
    </div>

</div>

</section>

<!-- CONTENT 4  -->
{% assign section_4 = site.data.homepage.section_4 %}
<section class="row no-gutters row-with-bg-1 bg-center data-bg" data-bg="{{ section_4.bg_data }}">
  <div class="col-sm-12 col-xs-12">
    <h2>{{ section_4.title }}</h2>
  </div>

  <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
    <div class="my-auto desc">
      {{ section_4.desc | markdownify }}
    </div>
  </div>

  <div class="col-sm-6 col-xs-6 text-center">
    <div class="featured-phone">
      <img alt="img" class="img-fluid" src="{{ section_4.img }}">
    </div>
  </div>
</section>


 <!-- CONTENT 9  -->
 {% assign section_9 = site.data.homepage.section_9 %}
 <section class="row no-gutters row-with-bg-1 ">
   <div class="col-sm-12 col-xs-12">
     <h2>{{ section_9.title }}</h2>
   </div>

   <div class="col-sm-6 col-xs-6 text-center">
     <div class="featured-phone">
       <img alt="img" class="img-fluid" src="{{ section_9.img }}">
     </div>
   </div>

   <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
     <div class="my-auto desc">
       {{ section_9.desc | markdownify }}
     </div>
   </div>
 </section>

<!-- Stepper -->
{% assign stepperhowTo = site.data.homepage.stepper %}
{% assign id = stepperhowTo.id %}
{% assign totalSteps = stepperhowTo.steps.size %}

<section id="{{id}}" class="stepper pt-4 pb-4 pt-sm-7 pb-sm-7" data-stepper data-autoplay="{{stepperhowTo.autoplay}}"
  data-total="{{totalSteps}}" data-delay="{{stepperhowTo.delay}}">
  <h2 class="text-center pb-4 pb-sm-6 main-title"> {{ stepperhowTo.title }} </h2>

  {% assign totalStepsFor = totalSteps | minus: 1 %}
  {% assign steps = stepperhowTo.steps %}

  <div class="row">
    <div class="col-xs-12 col-md-5">
      {% for i in (0..totalStepsFor) %}
      <div class="content-wrp">
        <div class="description-mobile p-2">
          <div class="row align-items-start">
            <div class="col-12">
              <h2 class="steps-title"> {{steps[i].title}} </h2>
            </div>
            <div class="col-12 pb-3 pb-sm-8">
            </div>
            <div class="col-12 p-3">
              <div class="desc">
                {{ steps[i].description }}
              </div>
            </div>
          </div>
        </div>

        <div id="{{id}}-media-{{i}}"
          class="media-wrp {% if i == 0 %} active {% endif %} {% if steps[i].showImgMobile == false %} hide-mobile {% endif %}">
          <img alt="step image" src="{{ steps[i].img }}" class="img-fluid img" />
          <img alt="step image mask" src="{{ steps[i].imgMask }}" class="img-fluid img-mask" />
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="d-none d-md-block col-md-1">
      <!-- stepper buttons -->
      <div class="stepper-nav">
        {% for i in (0..totalStepsFor) %}
        <a id="{{id}}-step-button-{{i}}" class="step-button {% if i == 0 %} active {% endif %}"
          onclick='stepperShow("{{ id }}", "{{ i }}")'>
          <div class="index">
            {% if stepperhowTo.showStepNumbers == true %}
            {{ i | plus: 1 }}
            {% endif %}
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div id="{{id}}-desc-wrp" class="col-xs-12 col-md-5">
      <!-- only descriptions -->
      {% for i in (0..totalStepsFor) %}
      <div id="{{id}}-desc-{{i}}" class="description  {% if i == 0 %} active {% endif %} ">
        <div class="row align-items-start">
          <div class="col-12">
            <h2 class="steps-title"> {{steps[i].title}} </h2>
          </div>
          <div class="col-12 pb-1 pb-sm-5">
          </div>
          <div class="col-12">
            <div class="desc">
              {{ steps[i].description }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>


<!-- CONTENT 5  -->
{% assign section_5 = site.data.homepage.section_5 %}
<section class="row no-gutters row-with-bg-1 data-bg-color" data-bg-color="{{ section_5.bg_data_color }}">
  <div class="col-12 justify-content-center text-center">
    <h2 class="highlighted text-white">{{ section_5.title }} <span>{{ section_5.title_2 }}</span></h2>
  </div>

  <div class="col-12 text-center text-white">
    <div class="h2 p-2 p-sm-5">
      {{ section_5.desc | markdownify }}
    </div>
  </div>
</section>


<!-- CONTENT 6  -->
{% assign section_6 = site.data.homepage.section_6 %}

<div class="pt-2 py-sm-8 embed-responsive-21by9">
  <video id="{{section_6.title}}" class="video-js vjs-default-skin" controls preload="none"
    poster='{{section_6.img}}' data-setup='{ "aspectRatio":"1280:720", "playbackRates": [1, 1.5, 2] }'>

    <source src="{{section_6.v_mp4}}" type='video/mp4' />
    <source src="{{section_6.v_webm}}" type='video/webm' />

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>

<!-- 
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/{{ section_6.youtube_embed_token }}?theme=dark&controls=0&disablekb=0&enablejsapi=0&rel=0&showinfo=0&modestbranding=1&color=white"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      frameborder="0" scrolling="no"></iframe>
  </div> -->
<!-- <section class="row-only-video">
    <a href="javascript:;" class="" data-modal data-video="{{ section_6.youtube_embed_token }}"
      data-title="{{ section_6.title }}" data-size="xxl">
      <div class="video-overlay-play-button "></div>
    </a>
    <img class="img-fluid" src="{{ section_6.img }}" alt="Video featured image - {{ section_6.title }}" />
  </section> -->


<!-- CONTENT Dynamic  -->
{% assign section_template = site.data.homepage.section_template %}

{% assign section_n_types = "section-1,section-2,section-3" | split: ',' %}
<!-- {% assign section_bg_wire_types = "bg-wire-left bg-wire-center bg-wire-right" | join: ' ' %} -->

{% for s in section_template %}

{% if s.section_type == "promotional" %}
<section class="content-promotional d-flex justify-content-center text-center">
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 d-flex justify-content-center text-center">
      <div class="m-auto pl-sm-4 pl-lg-8">
        <h1 class="title">
          {{s.title}}
          <span> {{s.title_2}}</span>
        </h1>
        <br>
        <p class="pb-5 mx-3 desc">{{s.desc}}</p>
        <div class="col-xs-12 col-sm-7"></div>
        {% if s.include_relative != "" %}
        {% include {{ s.include_relative }} %}
        {% endif %}
      </div>
    </div>

    <div class="col-md-5 d-flex justify-content-center text-center d-none-mobile">
      <div class="phone-img my-auto pr-sm-4 pr-lg-8">
        <img class="img-fluid" alt="promotion img" src="{{s.img}}">
      </div>
    </div>
  </div>
</section>
{% endif %}


{% if s.section_type == "bg-color" %}
<section class="row no-gutters my-5 row-with-bg-1 data-bg-color" data-bg-color="{{ section_5.bg_data_color }}">
  <div class="col-sm-12 col-xs-12">
    <h2>{{ s.title }}</h2>
  </div>

  <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
    <div class="my-auto desc">
      {{ s.desc | markdownify }}
    </div>
  </div>

  {% if s.img != "" %}
  <div class="col-12 pt-5 pt-sm-7 pt-md-8 pt-lg-10">
    <div class="my-auto desc">
      <img alt="img" class="img-fluid" src="{{ s.img }}">
    </div>
  </div>
  {% endif %}

  {% if s.include_relative != "" %}
  <div class="col-12 pt-5 pt-sm-7 pt-md-8 pt-lg-10">
    <div class="my-auto desc">
      {% include {{ s.include_relative }} %}
    </div>
  </div>
  {% endif %}
</section>
{% endif %}

{% if s.section_type == "bg-color-title-highlighted" %}
<section class="row no-gutters my-5 row-with-bg-1 data-bg-color" data-bg-color="{{ s.bg_data_color }}">
  <div class="col-12 pb-4">
    <h2 class="highlighted">{{ s.title }} <span>{{ s.title_2 }}</span></h2>
  </div>

  <div class="col-12 d-flex justify-content-center text-center pt-4 ">
    <div class="my-auto desc">
      {{ s.desc | markdownify }}
    </div>
  </div>

  {% if s.include_relative != "" %}
  <div class="col-12 pt-5 pt-sm-7 pt-md-8 pt-lg-10">
    <div class="my-auto desc">
      {% include {{ s.include_relative }} %}
    </div>
  </div>
  {% endif %}
</section>
{% endif %}


{% if section_n_types contains s.section_type %}
{% case s.section_type %}
{% when 'section-1' %}
<section class="row no-gutters row-with-bg-1">
  <div class="col-sm-12 col-xs-12">
    <h2>{{ s.title }}</h2>
  </div>

  <div class="col-sm-6 col-xs-6 text-center">
    <div class="featured-phone">
      <img alt="img" class="img-fluid" src="{{ s.img }}">
    </div>
  </div>

  <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
    <div class="my-auto desc">
      {{ s.desc | markdownify }}
    </div>
  </div>
</section>
{% when 'section-2' %}
<section id="section-downloads" class="my-5 row-with-bg-1 bg-center">
  <div class="row no-gutters">
    <div class="col-12 d-flex justify-content-center text-center">
      <div class="my-auto desc">
        <h2>
          {{ s.title }}
        </h2>
        {{ s.desc | markdownify }}
      </div>
    </div>
    <div class="col-12 pt-5 pt-sm-7 pt-md-8 pt-lg-10">
      <div class="my-auto desc">
        {% if s.include_relative != "" %}
        {% include {{ s.include_relative }} %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="row no-gutters row-with-bg-1 bg-left">
  <div class="col-sm-12 col-xs-12">
    <h2>{{ s.title }}</h2>
  </div>

  <div class="col-sm-6 col-xs-6 d-flex justify-content-center text-center">
    <div class="my-auto desc">
      {{ s.desc | markdownify }}
    </div>
  </div>

  <div class="col-sm-6 col-xs-6 text-center">
    <div class="featured-phone">
      <img alt="img" class="img-fluid" src="{{ s.img }}">
    </div>
  </div>

  <div class="col-12 pt-5 pt-sm-7 pt-md-8 pt-lg-10">
    <div class="my-auto desc">
      {% if s.include_relative != "" %}
      {% include {{ s.include_relative }} %}
      {% endif %}
    </div>
  </div>
</section>
{% endcase %}

{% endif %}


{% endfor %}



</div>
