<div id="securitypage" class="securitypage ">
  <div class="container">

    <div class="d-flex flex-column align-items-center align-space-between header-security">
      <div class="title">
        Your safety is our priority!
      </div>
      <div class="sub">
        <p>Safety is an essential feature of Alchemist. We store gold in professional-market vaults in Zurich, and all
          transactions are publicly verifiable using blockchain technology.</p>
      </div>
    </div>

    <div class="row my-1 my-sm-5 justify-content-around align-items-stretch topics section-scroll-animate"
      data-animation="animate__fadeIn">

      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-check"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                Our security protocols
              </div>
              <div class="col-12 topic-desc">
                Our entire application and databases use the most advanced security technologies. We encrypt and store
                all
                data so that no one can access or alter it.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-piggy-bank"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">

              <div class="col-12 topic-title">
                Money is in good hands
              </div>
              <div class="col-12 topic-desc">
                The European regulation PSD2 approved in UK in 2018, obliges banks to facilitate access to accounts
                by
                banking applications and solutions such as ours. The keys you offer us to link do not allow us to make
                any
                unauthorized operation.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-university"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                The safest connection to your bank
              </div>
              <div class="col-12 topic-desc">
                The European regulation PSD2 approved in UK in 2018, obliges banks to facilitate access to accounts by
                banking applications and solutions such as ours. The keys you offer us to link do not allow us to make
                any unauthorized operation.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-lock"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                The privacy of your data
              </div>
              <div class="col-12 topic-desc">
                We comply with all European GDPR regulations and UK data protection legislation so that all users
                can
                exercise their rights and have their privacy guaranteed. At any time you can ask us for access,
                rectification, opposition and cancellation of your personal data.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="section-our-tech" class="section-our-tech">

    <div class="row">
      <div class="col-12">

        <div class="section-scroll-animate" data-animation="animate__slideInUp">

          <div class="title">
            Behind alchemist app
          </div>

          <div class="brief text-center">
            <em>We’ve done the extra mile to make all your data, your money and your gold
              protected at all times.
            </em>
          </div>

          <div class="desc mt-2 mt-sm-5">
            About our technology
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters mt-1 mt-sm-5 d-flex justify-content-center">


        <div class="col-12 col-md-3">
          <div class="our-tech-topic section-scroll-animate" data-animation="animate__slideInUp">
            <div class="our-tech-topic-title">
              <i class="fas fa-lock"></i><span>TLS</span>
            </div>
            <div class="our-tech-topic-desc mt-1 mt-sm-4">
              Cryptographic protocol that provides end-to-end security
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 ">
          <div class="our-tech-topic section-scroll-animate" data-animation="animate__slideInUp">
            <div class="our-tech-topic-title">
              <i class="fas fa-user-shield"></i>
              <span>
                OAuth
              </span>
            </div>
            <div class="our-tech-topic-desc mt-1 mt-sm-4">
              Authentication JWT with ES256 (The Elliptic Curve Digital Signature Algorithm (ECDSA) using P-256 and
              SHA-256
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 ">
          <div class="our-tech-topic section-scroll-animate" data-animation="animate__slideInUp">
            <div class="our-tech-topic-title">
              <i class="fas fa-eye-slash"></i>
              <span>
                Your data is secured
              </span>
            </div>
            <div class="our-tech-topic-desc mt-1 mt-sm-4">
              All central database is encrypted.
            </div>
          </div>
        </div>


        <div class="col-12 col-md-3">
          <div class="our-tech-topic section-scroll-animate" data-animation="animate__slideInUp">
            <div class="our-tech-topic-title">
              <i class="fas fa-cubes"></i>
              <span>
                Blockchain Smart Contracts
              </span>
            </div>
            <div class="our-tech-topic-desc mt-1 mt-sm-4">
              <p>Alchemist app uses blockchain to store all events of transactions.</p>
              <p>With this all every transaction in alchemist app can be audited in real time using the public explorer
                of
                blockchain.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section-blockchain">
    <div class="container">
      <div class="content-box section-scroll-animate" data-animation="animate__slideInRight">

        <div class="title">
          Blockchain
        </div>

        <div class="desc">
          <p>We are using a public blockchain technology to map all transactions using smart contracts, the users can
            audit
            all the trades through a blockchain explorer in real time.
          </p>

          <p>
            The data is distributed for several blockchain nodes in immutable fashion using blockchain smart
            contracts.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="section-open-banking">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-6">

          <div class="content-box section-scroll-animate" data-animation="animate__slideInLeft">

            <div class="title">
              Open Banking
            </div>

            <div class="desc">
              <p>
                Open Banking is the secure way to give providers access to your financial information.
              </p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <img class="img-fluid section-scroll-animate" data-animation="animate__slideInRight"
            src="./assets/imgs/phoneStepBanks-inverse-min.png">
        </div>
      </div>
    </div>

  </div>


  <!-- <div class="mb-10"></div> -->

</div>
