<div id="securitypage" class="securitypage ">
  <div class="container">

    <div class="d-flex flex-column align-items-center align-space-between header-security">
      <div class="title">
        Your safety is our priority!
      </div>
      <div class="sub">
        <p>Safety is an essential feature of Alchemist. We store gold in professional-market vaults in Zurich, and all
          transactions are publicly verifiable using blockchain technology.</p>
      </div>
    </div>

    <div class="row my-1 my-sm-5 justify-content-around align-items-stretch topics">

      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-check"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                Our security protocols
              </div>
              <div class="col-12 topic-desc">
                Our entire application and databases use the most advanced security technologies. We encrypt and store
                all
                data so that no one can access or alter it.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-piggy-bank"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">

              <div class="col-12 topic-title">
                Money is in good hands
              </div>
              <div class="col-12 topic-desc">
                The European regulation PSD2 approved in UK in 2018, obliges banks to facilitate access to accounts
                by
                banking applications and solutions such as ours. The keys you offer us to link do not allow us to make
                any
                unauthorized operation.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-university"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                The safest connection to your bank
              </div>
              <div class="col-12 topic-desc">
                The European regulation PSD2 approved in UK in 2018, obliges banks to facilitate access to accounts by
                banking applications and solutions such as ours. The keys you offer us to link do not allow us to make
                any unauthorized operation.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="row box">
          <div class="col-12 col-md-3 text-center">
            <i class="fas fa-lock"></i>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 topic-title">
                The privacy of your data
              </div>
              <div class="col-12 topic-desc">
                We comply with all European GDPR regulations and UK data protection legislation so that all users
                can
                exercise their rights and have their privacy guaranteed. At any time you can ask us for access,
                rectification, opposition and cancellation of your personal data.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-blockchain">
  <div class="content-box">

    <div class="title">
      Alchemist map all trades in blockchain smart contracts
    </div>

    <div class="desc">
      We are using a public blockchain technology to map all transactions using smart contracts, the users can audit
      all the trades through a blockchain explorer in real time.
    </div>
  </div>


  <div class="mb-5"></div>

</div>
