<div id="homepage" class="homepage">
    <section class="pt-1 pt-sm-2">
    </section>

    <div id="securitypage" class="securitypage pt-10">
        <div class="row no-gutters text-center section-1">
            <div class="col-12">
                <div class="title">
                    Terms
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>

</div>
