.aboutpage {}

.header-about {
  @extend .default-section;
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 10rem;


  .title,
  .sub {
    width: 80%;

    @include media-breakpoint-up(sm) {
      width: 65%;
    }

    z-index: 100;
  }
}


.slider-rules {
  position: relative;
  width: 100%;
  border: 1px solid blue;
}


.rule-box2 {
  border: 2px solid $alchemist-gray-100;
  border-radius: 25px;
  padding: 0.7rem;
  color: $alchemist-gray-800;
  background-color: $white;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border: 1px solid red;

  .featured-image {
    position: absolute;
    top: -5rem;
    left: -5rem;
    z-index: 100;

    img {
      max-height: 10rem;
      max-width: 50%;
      margin: 2rem auto;

      @include media-breakpoint-up(sm) {
        max-height: 12rem;
      }
    }
  }

  .rules-content {}

  .rule-type {
    font-weight: bold;
    font-size: 120%;
    padding: 2% 5%;
    text-align: left;
    color: $alchemist-gray-700;
  }

  .rule-desc {
    font-size: 100%;
    padding: 2% 5%;
    text-align: left;
    color: $alchemist-gray-600;
    font-weight: 600;
  }

}
