.homepage {
    font-family: "Montserrat-Regular";
    text-align: justify;

    .header {
        position: relative;
        min-height: 600px;
        background-image: url('../imgs/section-1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $white;
        margin-bottom: 100px;

        .header-block {
            margin-top: 3rem;
            padding-left: 10%;

            .title {
                font-size: 3rem;
                font-weight: bold;
                padding: 2rem 0;
                color: white;

                span {
                    color: $alchemist-gold-3;
                }
            }

            .desc {
                font-size: 0.95rem;
                color: $alchemist-gray-500;
            }

            .downloads {
                a {
                    display: inline-block;
                    width: 150px;

                    img {
                        width: 200px;
                    }
                }
            }
        }

        .phone {
            position: absolute;
            left: 100px;
        }


        @include media-breakpoint-down(sm) {
            min-height: 850px;
            background-size: cover;
            background-position-x: 65%;
            margin-bottom: 220px;

            .header-block {
                margin-top: 2rem;
                padding-left: 0%;

                .desc {
                    text-align: left;
                }
            }

            .phone {
                top: 50%;
                left: 50%;
                transform: translate(-65%, 6%);

                img {
                    max-width: 130%;
                    width: 750px;
                }
            }
        }
    }


    .left-img-section {
        .title {
            font-size: 2.55rem;
            font-weight: bold;
            padding: 2rem 0;
            color: $alchemist-gray-800;
        }

        .desc {
            font-size: .85rem;
            color: $alchemist-gray-800;
        }

        .btn-wrp {
            .btn {
                padding: .375rem 1.5rem;
            }

            span {
                font-weight: bold;
            }

            img {
                width: 22px;
                margin-right: .5rem;
                box-sizing: border-box;
            }
        }

        @include media-breakpoint-down(sm) {
            .title {
                font-size: 2rem;
                text-align: center;
            }

            .desc {
                font-size: 0.95rem;
            }

            .btn-wrp {
                text-align: center;
            }
        }
    }


    .slider-wrp {
        .owl-item.active.center {
            .goal-wrp {
                opacity: 1;
            }
        }
        .goal-wrp {
            @extend %noselect;
            position: relative;
            border-radius: 20px;
            box-sizing: border-box;
            max-width: 350px;
            max-height: 200px;
            color: $white;
            margin: 0 1em;
            transition: all 0.3s ease-in;
            opacity: .2;
 
            img {
                width: 100%;
            }

            .top-left {
                position: absolute;
                top: 18px;
                left: 16px;
            }

            .bottom-right {
                position: absolute;
                bottom: 8px;
                right: 16px;
            }

            .saved-wrp {
                position: absolute;
                bottom: 20px;
                left: 10px;
                width: 95%;
                .content {
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }

        .progress-bar-wrp {
            display: flex;
            width: 100%;
            height: 8px;
            justify-content: center;
            align-items: center;
            background-color: $alchemist-gray-300;
            border-radius: 20px;
        }

        .progress-bar {
            background-image:
                linear-gradient(to right,
                     $alchemist-victoria-1 calc(var(--progress) * 1%),
                    white calc(var(--progress) * 1%),
                    white);
            border-radius: 20px;
            color: rgba($color: #000000, $alpha: .001);
            font-size: 10px;
            text-align: center;
            line-height: 8px;
            width: 100%;
        }
    }

    @include media-breakpoint-down(sm) {
        border-radius: 10px;
        font-size: 0.75rem;


    }
}

// .homepage {
//     font-family: "Montserrat-Regular";
//     text-align: justify;

//     .content-promotional {
//         min-height: 650px;

//         @include media-breakpoint-up(lg) {
//             min-height: 950px;
//         }

//         .title {
//             text-align: center;
//             font-family: "Montserrat-Bold";
//             font-size: 2.3em;

//             @include media-breakpoint-up(sm) {
//                 font-size: 5em;
//             }

//             @include media-breakpoint-up(lg) {
//                 font-size: 4em;
//             }
//         }

//         h1 span {
//             color: $alchemist-gold-4;
//         }

//         .phone-img {
//             @include media-breakpoint-down(sm) {
//                 display: none;
//             }

//             @include media-breakpoint-up(sm) {
//                 margin-left: 25%;
//             }

//             @include media-breakpoint-up(lg) {
//                 margin-left: 10%;
//             }
//         }

//         .desc {
//             font-size: 1.3em;
//         }
//     }

//     .content-goals {
//         border-top: 1px solid rgba(244, 245, 246, .75);
//         border-bottom: 1px solid rgba(244, 245, 246, .75);
//         background-color: #fafafa;
//         text-align: center;
//     }

//     .goal-text {
//         li {
//             list-style-type: none;
//             padding-left: 10%;
//             list-style-type: none;
//             padding-left: 10%;
//             padding-right: 10%;
//         }

//         li .icon {
//             padding-right: 10px;
//         }

//         .big-icon {
//             text-align: center;
//         }
//     }

//     .content-get-app {
//         background-color: $alchemist-victoria-2;
//         color: $alchemist-gray-100;
//     }
// }
