.homepage {
    font-family: "Montserrat-Regular";
    text-align: justify;

    .default-section {
        .title {
            font-size: 2.55rem;
            font-weight: bold;
            padding: 2rem 0;
            color: $alchemist-gray-800;
        }

        .desc {
            font-size: .85rem;
            color: $alchemist-gray-800;
        }
    }


    @include media-breakpoint-down(sm) {
        .default-section {
            .title {
                font-size: 2rem;
                text-align: center;
            }

            .desc {
                font-size: 0.95rem;
            }
        }
    }


    .header {
        position: relative;
        min-height: 600px;
        background-image: url('../imgs/section-1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $white;
        margin-bottom: 100px;

        .header-block {
            margin-top: 3rem;
            padding-left: 10%;

            .title {
                font-size: 3rem;
                font-weight: bold;
                padding: 2rem 0;
                color: white;

                span {
                    color: $alchemist-gold-3;
                }
            }

            .desc {
                font-size: 0.95rem;
                color: $alchemist-gray-500;
            }

            .downloads {
                a {
                    display: inline-block;
                    width: 150px;

                    img {
                        width: 200px;
                    }
                }
            }
        }

        .phone {
            position: absolute;
            left: 100px;
        }


        @include media-breakpoint-down(sm) {
            min-height: 850px;
            background-size: cover;
            background-position-x: 65%;
            margin-bottom: 220px;

            .header-block {
                margin-top: 2rem;
                padding-left: 0%;

                .desc {
                    text-align: left;
                }
            }

            .phone {
                top: 50%;
                left: 50%;
                transform: translate(-65%, 6%);

                img {
                    max-width: 130%;
                    width: 750px;
                }
            }
        }
    }


    .left-img-section {
        .btn-wrp {
            .btn {
                padding: .375rem 1.5rem;
            }

            span {
                font-weight: bold;
            }

            img {
                width: 22px;
                margin-right: .5rem;
                box-sizing: border-box;
            }
        }

        @include media-breakpoint-down(sm) {
            .btn-wrp {
                text-align: center;
            }
        }
    }

    .slider-zoom {
        position: relative;
        height: 250px;
        margin: 30px 0;
        overflow: hidden;
        box-sizing: border-box;

        @include media-breakpoint-down(sm) {
            height: 250px;
        }
    }

    .slider-wrp {
        position: absolute;
        box-sizing: border-box;
        transform: translateX(-10%);
        width: 120vw;
        height: 100%;
        margin-top: 1rem;
        touch-action: none;
        font-size: 100%;

        .title {
            font-size: 1rem;
            color: $white;
            font-weight: bold;
        }

        .owl-item.active.center {
            .goal-wrp {
                opacity: 1;
            }
        }

        .goal-wrp {
            @extend %noselect;
            position: relative;
            border-radius: 5%;
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: $white;
            padding: 0 5%;
            transition: all 0.3s ease-in-out;
            opacity: .2;

            &::after {
                display: block;
                position: absolute;
                content: '';
                border-radius: 5%;
                top: 0;
                left: 5%;
                width: 90%;
                height: 100%;
                background-color: rgba(100, 125, 247, 0.507);
                opacity: .5;
                z-index: 5;
            }

            img {
                position: relative;
                width: 100%;
                display: block;
                height: auto;
                overflow: hidden;
            }

            .top-left {
                position: absolute;
                top: 10%;
                left: 10%;
                z-index: 10;
            }

            .saved-wrp {
                position: absolute;
                bottom: 10%;
                left: 3%;
                width: 95%;
                z-index: 10;

                .content,
                .content-saved {
                    // font-family: "Tahoma, Arial";
                    font-size: 90%;
                    text-align: right;
                    padding-right: 5%;
                    font-weight: 400;
                    transition: color .2s ease-in;
                }

                .completed {
                    color: rgb(136, 255, 229);
                }

            }
        }

        .progress-bar-wrp {
            position: absolute;
            bottom: -35%;
            left: 5%;
            display: flex;
            width: 90%;
            height: 40%;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            border-radius: 5%;
            z-index: 12;
        }

        .progress-bar {
            background-color: rgba(255, 255, 255, 0.075);
            background-image:
                linear-gradient(to right,
                    $alchemist-sky-2 calc(var(--progress) * 1%),
                    rgba(255, 255, 255, 0.342) calc(var(--progress) * 1%));
            border-radius: 10px;
            color: rgba($color: #000000, $alpha: .001) !important;
            font-size: 10%;
            text-align: center;
            line-height: 100%;
            width: 100%;
            transition: all 1s ease-in;

            &.completed {
                background-image:
                    linear-gradient(to right,
                        #77ebd2ff 100%,
                        #77ebd2ff 100%);
            }
        }


        @include media-breakpoint-down(sm) {
            font-size: 80%;
            width: 200vw;
            transform: translateX(-25.5%);
        }
    }


    .set-rules-wrp {
        padding-bottom: 150px;
        text-align: center;
        position: relative;
        .title {
            text-align: left;
        }

        .desc {
            text-align: left;
            margin-bottom: 50px;
        }

        .rules-box-wrp {
            position: absolute;
            left: 0;
            width: 100%;
            margin-bottom: 200px;
        }

        .rules-box {
            max-width: 200px;
            height: 270px;
            margin: 0 auto;
            text-align: center;
            border: 2px solid $alchemist-gray-100;
            border-radius: 25px;
            padding: 0.7rem;
            color: $alchemist-gray-800;
            background-color: $white;
            box-sizing: border-box;

            img {
                height: 80px;
                margin: 2rem auto;
            }

            .rule-type {
                font-weight: bold;
                font-size: 1rem;
                padding: 0.6rem 0;
                text-align: left;
            }

            .rule-desc {
                font-size: 0.75rem;
                text-align: left;
            }
        }

        @include media-breakpoint-down(xs) {
            padding-bottom: 750px;

            .rules-box-wrp {
                padding: 0;
            }

            .rules-box {
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 2.5rem;
                width: 100%;
                img {
                    height: 90px;
                    margin: 1.35rem auto;
                }
                .rule-type {
                    font-size: 1rem;
                    text-align: center;
                }

                .rule-desc {
                    font-size: 0.95rem;
                    text-align: center;
                }
            }

        }

    }


    .stepper-wrp {
        height: 500px;
        background-image: url("../imgs/g394.png");
        background-size: cover;
        background-position: center center;
    }
}

// .homepage {
//     font-family: "Montserrat-Regular";
//     text-align: justify;

//     .content-promotional {
//         min-height: 650px;

//         @include media-breakpoint-up(lg) {
//             min-height: 950px;
//         }

//         .title {
//             text-align: center;
//             font-family: "Montserrat-Bold";
//             font-size: 2.3em;

//             @include media-breakpoint-up(sm) {
//                 font-size: 5em;
//             }

//             @include media-breakpoint-up(lg) {
//                 font-size: 4em;
//             }
//         }

//         h1 span {
//             color: $alchemist-gold-4;
//         }

//         .phone-img {
//             @include media-breakpoint-down(sm) {
//                 display: none;
//             }

//             @include media-breakpoint-up(sm) {
//                 margin-left: 25%;
//             }

//             @include media-breakpoint-up(lg) {
//                 margin-left: 10%;
//             }
//         }

//         .desc {
//             font-size: 1.3em;
//         }
//     }

//     .content-goals {
//         border-top: 1px solid rgba(244, 245, 246, .75);
//         border-bottom: 1px solid rgba(244, 245, 246, .75);
//         background-color: #fafafa;
//         text-align: center;
//     }

//     .goal-text {
//         li {
//             list-style-type: none;
//             padding-left: 10%;
//             list-style-type: none;
//             padding-left: 10%;
//             padding-right: 10%;
//         }

//         li .icon {
//             padding-right: 10px;
//         }

//         .big-icon {
//             text-align: center;
//         }
//     }

//     .content-get-app {
//         background-color: $alchemist-victoria-2;
//         color: $alchemist-gray-100;
//     }
// }
