.security-page {}

.header-security {
  @extend .default-section;
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 10rem;

  &::before {
    position: absolute;
    content: '';
    top: 100px;
    left: -10rem;
    width: 500px;
    height: calc(35% + 120px);
    max-height: 500px;
    background-image: url('../imgs/gold-vault-2.png');
    background-repeat: no-repeat;
    background-size: 350px;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      display: none
    }
  }

  .title,
  .sub {
    width: 80%;

    @include media-breakpoint-up(sm) {
      width: 65%;
    }

    z-index: 100;
  }

}


.topics {
  background-color: $white;
  position: relative;
  z-index: 10;

  @include media-breakpoint-up(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 3rem;
    box-shadow: 0 0 1rem $alchemist-gray-200;
  }

  .box {
    margin: 1rem;
  }

  .topic-title {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: $alchemist-gray-800;

  }

  .topic-desc {
    color: $alchemist-gray-600;
  }

  .fas {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: $alchemist-gold-2;
    color: $alchemist-gold-1;
  }
}


.section-blockchain {
  @extend .default-section;
  background-color: $alchemist-gray-300;
  height: 350px;
  color: $alchemist-gray-900;
  background-image: url("../imgs/blockchain-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  .title {
    color: $white;
    text-align: center;
  }

  .desc {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    height: 750px;
    top: -10rem;
    z-index: 1;
  }

  .content-box {
    padding: 1.3rem;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100% - 4rem);
    min-height: 250px;

    @include media-breakpoint-up(md) {
      position: absolute;
      padding: 1rem;
      width: calc(55% - 4rem);
      margin-right: 3rem;
      right: 0;
      min-height: 390px;
      bottom: 5rem;
    }
  }

}
