%defaultSection {
  position: relative;
  min-height: 650px;
  font-family: "Montserrat-Regular";
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  background-image: url("../../assets/imgs/bg-wire-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom -150px right -350px;

  h2 {
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 3em;

    &.highlighted {
      font-size: 3em;

      span {
        border-bottom: 0.2em solid $alchemist-gold-4;
      }
    }
  }

  @include media-breakpoint-down(md) {
    h2 {
      font-size: 2em;
      padding: 2%;
    }
  }

  .featured-img {
    margin-top: 5%;

    img {
      max-height: 15%;
      padding: 10%;
    }

  }

  .desc {
    margin: 12%;
    font-size: 1.2em;
    text-align: left;
  }
}


%content-box {
  padding: 1.3rem;
  min-height: 250px;
}

%shadow {
  @include media-breakpoint-up(md) {
    -webkit-box-shadow: .1rem .1rem 1.5rem -1rem rgba(0, 0, 0, 0.27);
    -moz-box-shadow: .1rem .1rem 1.5rem -1rem rgba(0, 0, 0, 0.27);
    box-shadow: .1rem .1rem 1.5rem -1rem rgba(0, 0, 0, 0.27);
  }
}

%box-round-corners {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

// no border or shadow
%default-box-1 {
  @extend %content-box;

  .box-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .box-desc {
    font-size: 1rem;
  }
}


%default-box {
  @extend %shadow;
  @extend %box-round-corners;
  @extend %content-box;

  .box-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .box-desc {
    font-size: 1rem;
  }
}


.row-with-bg-1 {
  @extend %defaultSection;

  @include media-breakpoint-up(sm) {
    // &:after {
    //     content: "";
    //     background-image: linear-gradient(to bottom, white, transparent);
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 5em;
    // }

    // &:before {
    //     content: "";
    //     background-image: linear-gradient(to bottom, transparent, white);
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     top: 95%;
    //     left: 0;
    //     width: 100%;
    //     height: 5em;
    // }
  }

  &.data-bg {
    background-size: cover;
    background-position: 50% 50%;

    &:after,
    &:before {
      background: none;
    }
  }

  &.data-bg-color {
    background-image: none;

    &:after,
    &:before {
      background: none;
    }
  }

  &.bg-left {
    background-position: bottom -150px left -350px;
  }

  &.bg-middle-left {
    background-size: contain;
    background-position: -50% 50%;
  }

  &.bg-center {
    background-position: center center;
  }

  &.no-bg {
    background-image: none;
  }

  &.bg-gradient-gold {
    background-image: none;
    background: $alchemist-gold-4;
    background: linear-gradient(0deg, $alchemist-gold-4 0%, $alchemist-gold-4 20%, $alchemist-white-100 100%);
  }

}

@include media-breakpoint-down(md) {
  .d-none-mobile {
    display: none !important;
  }
}




//     <div>
// <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
// <label for="radio-1" class="radio-custom-label">First Choice</label>
// </div>
.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
  border-radius: 13px;
}

.checkbox-custom+.checkbox-custom-label:before,
.radio-custom+.radio-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  border-radius: 30%;
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free', 'FontAwesome';
  background: $alchemist-sky-1;
  border-radius: 30%;
  padding: .1rem;
  color: #fff;
  line-height: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  font-weight: thin;
}

.radio-custom+.radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free', 'FontAwesome';
  color: #bbb;
}

.checkbox-custom:focus+.checkbox-custom-label,
.radio-custom:focus+.radio-custom-label {
  // outline: 1px solid #ddd; /* focus style */
}
