@import 'fonts';
@import 'default';


// /* --- BODY contents --- */
body {
    // navbar fixed
    padding-top: 70px;
}

.navbar-shadow {
    background-color: #FFF;
    border: 0px solid;
    box-shadow: 0px 0px 7px $alchemist-gray-400;
}

.homepage {
    
    .content-promotional {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;

        h1 span {
            color: #FFB304;
        }
    }

    .content-goals {
        border-top: 1px solid rgba(244, 245, 246, .75);
        border-bottom: 1px solid rgba(244, 245, 246, .75);
        background-color: #fafafa;
        text-align: center;
    }

    .content-secured-money {
        text-align: center;
    }

}


// .secured-money-main {
//   margin-left: 10%;
//   margin-right: 10%;
// }

// .content-grid-contour {
//   padding: 2% !important;
// }

// .content-get-app {
//   background-color: #424b99;
//   color: white;
//   text-align: center;
// }

// .goal-text li {
//   list-style-type: none;
//   /* text-align: left; */
//   padding-left: 10%;
//   padding-right: 10%;
// }

// .goal-text li .icon {
//   padding-right: 10px;
// }

// .goal-text .big-icon {
//   text-align: center;
// }

// .footer-custom {
//   background-color: #fafafa;
// }



// /* --- Common alterarions --- */
// .txt_color_black {
//   color: black !important;
// }

// .big-font-1 {
//   font-size: 52px;
// }

// .font-1 {
//   font-size: 20px;
// }

// .limit-description {
//   padding-left: 15%;
//   padding-right: 15%;
// }

// .goal-img {
//   background-repeat: no-repeat;
//   background-size: contain;
//   padding: 2%;
// }

// .promotion-img {
//   background-repeat: no-repeat;
//   background-size: contain;
//   padding: 2%;
// }

// .goal-img .right-side {
//   padding-left: 2%;
// }

// @media screen and (max-width: 767px) {
//   .goal-img {
//     opacity: 0;
//     width: 0% !important;
//   }

//   .no-mobile {
//     opacity: 0;
//     width: 0% !important;
//     height: 0% !important;
//     padding: 0px !important;
//   }
// }
