.navbar-light {
    position: absolute;

    padding-top: 2rem;
    min-height: 70px;


    .nav-link {
        padding: .375rem 2rem;
        font-size: .875rem;
    }


    .navbar-toggler {
        border: none;
    }

    @include media-breakpoint-down(sm) {
        .navbar-brand {
            .img-brand {
                width: 45%;
            }
        }
    }
}
